


@media(min-width: 1070px){


//-----------------------------------------PEOPLE YOU MAY KNOW

.nav_wrapper{
	margin: 0 auto;
	margin-top:1em;
	overflow:hidden;
	box-sizing:border-box;
	min-width:650px;

	.row{


		.col.col-12{
			overflow:hidden;
			box-sizing:border-box;

			.navbar{
				margin: 0 auto;
				display: inline-block;
				width: 25%;
				vertical-align: top;
				margin-top:0.75em;
			}

		}
	}
}

.user_profile{
			overflow: hidden;
			display: inline-block;
			box-sizing:border-box;
			margin: 0 auto;
			width: 20%;
			min-width: 20%;
			margin-bottom: 1em;
			text-align: top;
			margin:5%;

			
			
			
			.img_specs{
				width:auto;
				margin-left: 1em;
				margin-right:0;
				
				overflow:hidden;
				display: inline-block;
				
				
			}
				
				.user_img{
				
				background: url('https://raw.githubusercontent.com/EricBlake/Web-App-Redesign-LinkedIn/master/Research
/Photos/Screen%20Shot%202016-04-01%20at%2012.42.24%20PM.png');
				background-repeat:no-repeat;
				background-size:contain;
				height:10em;
				margin: 0em;

				display: inline-block;

			}
		}


.people{
			clear:both;
			overflow: hidden;
			padding-bottom: 2em;

			.people_headings{
				margin:1em;
				h3:first-child{
					padding:0.2em;
					display: inline-block;
					
					

				}
				h3:nth-child(2){
					float:right;
					
				}	

			}

			.profiles1{
				width:20%;
				display: inline-block;

				.picture1{
					margin: 2em auto;
					background: url('https://raw.githubusercontent.com/EricBlake/Web-App-Redesign-LinkedIn/master/Research/Photos/Screen%20Shot%202016-04-01%20at%203.42.13%20PM.png');
					background-repeat:no-repeat;
					background-size:contain;
					height:12.500em;
					width:10em;
					margin-bottom: 0em;
					}

				p{
					text-align: center;
					width: 80%;
					margin: 0 auto;
					margin-top: 0em;
				}
			}

			.profiles2{
				display: inline-block;
				width: 20%;
				

				.picture2{
					margin: 2em auto;
					background: url('https://github.com/EricBlake/Web-App-Redesign-LinkedIn/blob/master/Research/Photos/Screen%20Shot%202016-04-01%20at%203.33.55%20PM.png?raw=true');
					background-repeat:no-repeat;
					background-size:contain;
					height:12.500em;
					width:10em;
					margin-bottom: 0em;
					}

				p{
					text-align: center;
					width: 80%;
					margin: 0 auto;
				}
			}

				
			.profiles3{
				display: inline-block;
				width: 20%;
				
				
				

				.picture3{
					margin: 2em auto;
					background: url('https://github.com/EricBlake/Web-App-Redesign-LinkedIn/blob/master/Research/Photos/Screen%20Shot%202016-04-01%20at%203.35.56%20PM.png?raw=true');
					background-repeat:no-repeat;
					background-size:contain;
					height:12.500em;
					width:10em;
					margin-bottom: 0em;
					}
				
				p{
					text-align: center;
					width: 80%;
					margin: 0 auto;
				}
			}

			.profiles4{
				display: inline-block;
				width: 20%;
				

				.picture4{
					margin: 2em auto;
					background: url('https://raw.githubusercontent.com/EricBlake/Web-App-Redesign-LinkedIn/master/Research/Photos/Screen%20Shot%202016-04-01%20at%203.40.51%20PM.png');
					background-repeat:no-repeat;
					background-size:contain;
					height:12.500em;
					width:10em;
					margin-bottom: 0em;
					}
				
				p{
					text-align: center;
					width: 80%;
					margin: 0 auto;
				}
			}


			.profiles5{
				display: inline-block;
				width: 20%;

				.picture5{
					margin: 2em auto;
					background: url('https://raw.githubusercontent.com/EricBlake/Web-App-Redesign-LinkedIn/master/Research/Photos/Screen%20Shot%202016-04-01%20at%203.43.49%20PM.png');
					background-repeat:no-repeat;
					background-size:contain;
					height:12.500em;
					width:10em;
					margin-bottom: 0em;
					}	
				
				p{
					text-align: center;
					width: 60%;
					margin: 0 auto;
				}
			}
			
}//--end of people tag//

//---------------news feed--------------------

.profiles{
	max-width:1000px;
	margin: 1em auto;
}

//-----------------------------------NEWS FEED BEGIN------------------------------


.newsfeed{
	margin:1em;
	
	overflow:hidden;

	.news_header{
		margin:1em;
		padding-bottom:1em;
		float:right;
	}


	.news_container{
	
		

		.news_block{
			width: 100%;
			margin:1em;
			

			h4{
				margin:0 auto;

				a{
					text-decoration: none;
				}
			}
		}

	
	}
}/////-------------closing tag for news feed------//
.footer{
	margin: 0 auto;
	padding: 2em;
	width:100%;
	ul{
		width: 100%;
		li{
			
			list-style: none;
			display: inline;
			text-align: center;


			a{

				text-decoration: none;
				margin:1.5em auto;

			}
		}
	}
}

		//------------------------END PEOPLE YOU MAY KNOW------------------------





}//---------------END MEDIA TAG

//-----------------------------------------END BREAKPOINT 2

