




// -------------------------BREAKPOINT 1--------------------------------------------




@media(min-width: 650px){
		
//------------------------------------------BEGGING OF NAVIGATION BAR

.site-header{
		//------------------------------TOP BANNER INCLUDING LOGO AND SEARCH BAR


	.banner{
		overflow:hidden;
		margin: 0;
		width:100%;

		.logo {
			

		img {
			
		}
	}

		
	//-----------------------------SEARCH BOX BEING USED AT SECOND BREAK POINT------------------
		.search_box{
			display:inline-block;
			

			p{
				
			}
		}
		.search_icon{
			display: none;
			

			

		}
	}

}




















.nav_wrapper{
	margin: 0 auto;
	margin-top:1em;
	overflow:hidden;
	box-sizing:border-box;
	min-width:650px;

	.row{


		.col.col-12{
			overflow:hidden;
			box-sizing:border-box;

			.navbar{
				margin: 0 auto;
				display: inline-block;
				width: 25%;
				vertical-align: top;
				margin-top:1.35em;
				



				
				ul{
					box-sizing:border-box;
					margin-bottom:1em;

					

					li{
						display: block;
						float:none;
						width: 100%;

		

						h2{
							text-align:left;

							a{
								text-decoration: none;
								margin-left:0.5em;
								
								
							}
						}

					}


				}

			}	//--end of navbar tag//

		}//end of col tag--//
	
		

		.user_profile{
			overflow: hidden;
			display: inline-block;
			box-sizing:border-box;
			margin: 0 auto;
			width: 20%;
			min-width: 20%;
			margin-bottom: 1em;
			text-align: top;

			
			
			
			.img_specs{
				width:auto;
				margin-left: 1em;
				margin-right:0;
				
				overflow:hidden;
				display: inline-block;
				
				
			}
				
				.user_img{
				
				background: url('https://raw.githubusercontent.com/EricBlake/Web-App-Redesign-LinkedIn/master/Research/Photos/Screen%20Shot%202016-04-01%20at%2012.42.24%20PM.png');
				background-repeat:no-repeat;
				background-size:contain;
				height:10em;
				margin: 0em;
				margin-bottom: 1em;
				display: inline-block;

			}
			.user_about{
				width: auto;
				margin-left:0;
				display: inline-block;
				margin-left:0.5em;
				box-sizing:border-box;

				h1{
					
						margin-bottom: 0em;
					
				}
				h2{
					margin-top: 0.2em;
				}


			}

			


		}

		.buttons{
				display: inline-block;
				box-sizing:border-box;
				overflow: hidden;
				width: auto;
			

				
				.upgrade_button{
					float:right;
				
				

					h3{
						a{
							text-decoration: none;
						}
					}
				
				}	

				.view_profile{
					clear:both;
					text-decoration: none;
					float:right;

					h3{
						a{
							text-decoration: none;
						}
					}
				}

			}

		



	}//---end of row tag--//

} ///-------------------------end of nav wrapper


//-----------------------------------------END OF NAVIGATION BAR

//-----------------------------------------PEOPLE YOU MAY KNOW
.people{
			clear:both;
			overflow: hidden;
			padding-bottom: 2em;

			.people_headings{
				margin:1em;
				h3:first-child{
					padding:0.2em;
					display: inline-block;
					
					

				}
				h3:nth-child(2){
					float:right;
					
				}	

			}

		.profiles{
			height:25em;
			overflow: scroll;
			direction:rtl;

			.profiles1{
				width:33%;
				float:left;

				.picture1{
					margin: 2em auto;
					background: url('https://raw.githubusercontent.com/EricBlake/Web-App-Redesign-LinkedIn/master/Research/Photos/Screen%20Shot%202016-04-01%20at%203.42.13%20PM.png');
					background-repeat:no-repeat;
					background-size:contain;
					height:12.500em;
					width:10em;
					margin-bottom: 0em;
					}

				p{
					text-align: center;
					width: 60%;
					margin: 0 auto;
					margin-top: 0em;
				}
			}

			.profiles2{
				float:left;
				width: 33%;
				
				

				.picture2{
					margin: 2em auto;
					background: url('https://github.com/EricBlake/Web-App-Redesign-LinkedIn/blob/master/Research/Photos/Screen%20Shot%202016-04-01%20at%203.33.55%20PM.png?raw=true');
					background-repeat:no-repeat;
					background-size:contain;
					height:12.500em;
					width:10em;
					margin-bottom: 0em;
					}

				p{
					text-align: center;
					width: 60%;
					margin: 0 auto;
				}
			}

				
			.profiles3{
				float:left;
				width: 33%;
				
				
				
				

				.picture3{
					margin: 2em auto;
					background: url('https://github.com/EricBlake/Web-App-Redesign-LinkedIn/blob/master/Research/Photos/Screen%20Shot%202016-04-01%20at%203.35.56%20PM.png?raw=true');
					background-repeat:no-repeat;
					background-size:contain;
					height:12.500em;
					width:10em;
					margin-bottom: 0em;
					}
				
				p{
					text-align: center;
					width: 60%;
					margin: 0 auto;
				}
			}
			.profiles4{
				float:left;
				width: 33%;
				

				.picture4{
					margin: 2em auto;
					background: url('https://raw.githubusercontent.com/EricBlake/Web-App-Redesign-LinkedIn/master/Research/Photos/Screen%20Shot%202016-04-01%20at%203.40.51%20PM.png');
					background-repeat:no-repeat;
					background-size:contain;
					height:12.500em;
					width:10em;
					margin-bottom: 0em;
					
					}
					
					.add_logo{
						width: 1em;
						margin: 0 auto;
						}
				
				p{
					text-align: center;
					width: 60%;
					margin: 0 auto;
				}
			}


			.profiles5{
				float:left;
				width: 33%;

				.picture5{
					margin: 2em auto;
					background: url('https://raw.githubusercontent.com/EricBlake/Web-App-Redesign-LinkedIn/master/Research/Photos/Screen%20Shot%202016-04-01%20at%203.43.49%20PM.png');
					background-repeat:no-repeat;
					background-size:contain;
					height:12.500em;
					width:10em;
					margin-bottom: 0em;

					}	
					
					.add_logo{
						width: 1em;
						margin: 0 auto;
						}
				
				p{
					text-align: center;
					width: 60%;
					margin: 0 auto;
				}
			}

		}


			

}//--end of people tag//


		//------------------------END PEOPLE YOU MAY KNOW------------------------


//-----------------------------------NEWS FEED BEGIN------------------------------


.newsfeed{
	margin:1em;
	
	overflow:hidden;

	.news_header{
		margin:1em;
		padding-bottom:1em;
		float:right;
	}


	.news_container{
		overflow: hidden;
		box-sizing:border-box;

		.news_block{
			width: 70%;
			margin:1em;
			

			h4{
				margin:0 auto;

				a{
					text-decoration: none;
				}
			}
		}

	
	}
}/////-------------closing tag for news feed------//




}//----------------END MEDIA QUIRY TAG
//----------------------------------------END BREAK POINT 1
