$primary-background: #112e51;
$secondary-background: #f1f1f1;
$button-color:#0071bc;
$section-headings:#02bfe7;



$text-primary: #205493;
$text-secondary: #ffffff;
$text-tertiary: #aeb0b5;
$base-color:#212121;


.wrapper{
	.banner{
		background-color: $primary-background;
	

		h1{
			a{
			color:$text-secondary;
			}
		}

		.search_box{
			background-color:$secondary-background;
			
			p{
				color: $text-tertiary;
			}
		}
	}

//----------------------- NAVBAR----------------------------

	.row{

		.col{

			.navbar{
				border-bottom: 1px solid $base-color;
				ul{

					li{

						background-color:$button-color;
						

						h2{

							a{
								color:$text-secondary;	


							}
						}

					}
					li:hover{
						background-color:$text-primary;
					}


				}




			}	
		}
	}
//-----------------------------PEOPLE YOU MAY KNOW------------------------
		.people{

			border-bottom: 1px solid $base-color;

			.people_headings{
			
				h3:first-of-type{
					color: $button-color;
					border: 1px solid $button-color;
					width: fit-content;
					


				
				}
				h3:nth-child(2){
						background-color:$secondary-background;
						width: fit-content;

					a{
						text-decoration: none;
						color:$base-color;
						border: 1px solid $base-color;

						
				}
					}
			}

			.profiles1{
				

				p{
					
				}
			}


			.profiles2{
				

				p{
					
				}
			}


				
			.profiles3{
				
				
				p{
					
				}
			}



			.profiles4{
				
				
				p{
					
				}
			}



			.profiles5{
			
				
				p{
					
				}
			}
		}
//---------------------------------END PEOPLE YOU MAY KNOW---------------------

}