$heading-font:'Merriweather', serif;
$paragraph-font: 'Source Sans Pro', sans-serif;





.wrapper{

			//---------------TOP BANNER--------------------//


	.banner{

		h1{
			font-size: 2.5em;
			font-weight: 700;
			line-height: 1.3em;
			

			
			a{
			font-family: $heading-font;
			padding:1em;



			}
		}

		.search_box{
			p{
				font-family: $paragraph-font;
				line-height: 1.3em;
				font-size: 1.25em;
				
			}
		}
	}


	//-------------------------------- NAV BAR------------------------------//

	.row{

		.col{

			.navbar{
				ul{
					list-style:none;

					li{
						h2{
							a{
								text-decoration: none;
								font-family: $paragraph-font;

							}
						}

					}


				}




			}	
		}
	}


	//--------------------------PEOPLE YOU MAY KNOW---------------------------//

	.people{
			
				h3:first-child{
				font-style: $heading-font;
				font-size: 1.250em;
				}
				h3:nth-child(2){
					
				}	

			.profiles1{
				

				p{
					font-size: 1.063em;
					font-family: $paragraph-font;
				}
			}


			.profiles2{
				

				p{
					font-size: 1.063em;
					font-family: $paragraph-font;
				}
			}


				
			.profiles3{
				
				
				p{
					font-size: 1.063em;
					font-family: $paragraph-font;
				}
			}



			.profiles4{
				
				
				p{
					font-size: 1.063em;
					font-family: $paragraph-font;
				}
			}



			.profiles5{
			
				
				p{
					font-size: 1.063em;
					font-family: $paragraph-font;
				}
			}
		}

}