---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import 'type1',
		'colors1',
		'breakpoint1';

$tot-width: 100%;
$num-col: 12; 
$gut-width: 2%;

$ind-col-width: ($tot-width - ($gut-width * ($num-col - 1))) / $num-col;

@mixin grid($bleezy){
  width: ($bleezy * $ind-col-width) + ($gut-width * ($bleezy - 1));
  float:left;
  margin-right: $gut-width;
  &:last-child {
    margin-right: 0;
  }
}

body{
	margin: 0;
}


.wrapper{
	overflow:hidden;

	//------------------------------TOP BANNER INCLUDING LOGO AND SEARCH BAR


	.banner{
		overflow:hidden;
		margin: 0;
		width:100%;

		h1{
			float:left;
			background: url('https://static.licdn.com/scds/common/u/images/logos/linkedin/logo_in_nav_retina_88x72.png');
			background-size: cover no-repeat;
			background-size: 65px;
			background-repeat:no-repeat;
			margin-left: 0.5em;

			

			a{
				text-decoration: none;



			}
		}
	
		.search_box{
			float:right;
			width:30%;
			margin:1em;
			margin-top:1.75em;

			p{
				text-align:right;
				margin: .5em;
			}
		}
	}
}


	//-----------------------------------------END OF BANNER



	//------------------------------------------BEGGING OF NAVIGATION BAR

	.row{


		.col{

			.navbar{
				margin: 0 auto;
				box-sizing:border-box;
				


				ul{
					list-style:none;
					margin: 0 auto;
					padding: 0;
					overflow:auto;
					box-sizing:border-box;

					

					li{
						display: inline-block;
						width: 50%;
						float:left;
						


						

						h2{
							text-align: center;

							a{
								text-decoration: none;
								
								
							}
						}

					}


				}




			}	//--end of navbar tag//

		}//end of col tag--//
	}//---end of row tag--//
//-----------------------------------------END OF NAVIGATION BAR



//-----------------------------------------PEOPLE YOU MAY KNOW
.people{
			clear:both;
			overflow: hidden;
			padding-bottom: 2em;

			.people_headings{
				margin:1em;
				h3:first-child{
					padding:0.2em;
					display: none;
					

				}
				h3:nth-child(2){

				}	

			}

			.profiles1{
				width: 50%;
				float:left;

				.picture1{
					margin: 2em auto;
					background: url('https://raw.githubusercontent.com/EricBlake/Web-App-Redesign-LinkedIn/master/Research/Photos/Screen%20Shot%202016-04-01%20at%203.42.13%20PM.png');
					background-repeat:no-repeat;
					background-size:contain;
					height:12.500em;
					width:10em;
					margin-bottom: 0em;
					}

				p{
					text-align: center;
					width: 60%;
					margin: 0 auto;
					margin-top: 0em;
				}
			}

			.profiles2{
				width: 50%;
				float:left;

				.picture2{
					margin: 2em auto;
					background: url('https://github.com/EricBlake/Web-App-Redesign-LinkedIn/blob/master/Research/Photos/Screen%20Shot%202016-04-01%20at%203.33.55%20PM.png?raw=true');
					background-repeat:no-repeat;
					background-size:contain;
					height:12.500em;
					width:10em;
					margin-bottom: 0em;
					}

				p{
					text-align: center;
					width: 60%;
					margin: 0 auto;
				}
			}

				
			.profiles3{
				max-width: 20%;
				float:left;
				display: none;
				

				.picture3{
					margin: 2em auto;
					background: url('https://github.com/EricBlake/Web-App-Redesign-LinkedIn/blob/master/Research/Photos/Screen%20Shot%202016-04-01%20at%203.35.56%20PM.png?raw=true');
					background-repeat:no-repeat;
					background-size:contain;
					height:12.500em;
					width:10em;
					margin-bottom: 0em;
					}
				
				p{
					text-align: center;
					width: 60%;
					margin: 0 auto;
				}
			}


			.profiles4{
				max-width: 20%;
				float:left;
				display: none;
				

				.picture4{
					margin: 2em auto;
					background: url('https://raw.githubusercontent.com/EricBlake/Web-App-Redesign-LinkedIn/master/Research/Photos/Screen%20Shot%202016-04-01%20at%203.40.51%20PM.png');
					background-repeat:no-repeat;
					background-size:contain;
					height:12.500em;
					width:10em;
					margin-bottom: 0em;
					}
				
				p{
					text-align: center;
					width: 60%;
					margin: 0 auto;
				}
			}


			.profiles5{
				max-width: 20%;
				float:left;
				display: none;

				.picture5{
					margin: 2em auto;
					background: url('https://raw.githubusercontent.com/EricBlake/Web-App-Redesign-LinkedIn/master/Research/Photos/Screen%20Shot%202016-04-01%20at%203.43.49%20PM.png');
					background-repeat:no-repeat;
					background-size:contain;
					height:12.500em;
					width:10em;
					margin-bottom: 0em;
					}	
				
				p{
					text-align: center;
					width: 60%;
					margin: 0 auto;
				}
			}


}//--end of people tag//


		//------------------------END PEOPLE YOU MAY KNOW------------------------

 //-----------------------------------NEWS FEED BEGIN------------------------------


.newsfeed{
	margin:0 auto;

	.news_header{
		margin:1em;
	}

	.news_block{
		margin:1em;

		h4{
			margin:0 auto;
		}
	}


}/////-------------closing tag for news feed------//







 //-----------------------------END OF NEWS FEED-------------------------------------










