---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import 'type1',
		'colors1';

$tot-width: 100%;
$num-col: 12;
$gut-width: 2%;

$ind-col-width: ($tot-width - ($gut-width * ($num-col - 1))) / $num-col;

@mixin grid($bleezy){
  width: ($bleezy * $ind-col-width) + ($gut-width * ($bleezy - 1));
  float:left;
  margin-right: $gut-width;
  &:last-child {
    margin-right: 0;
  }
}

body{
	margin: 0;
}


.wrapper{
	overflow:hidden;

	//------------------------------TOP BANNER INCLUDING LOGO AND SEARCH BAR


	.banner{
		overflow:hidden;
		margin: 0;
		width:100%;

		h1{
			float:left;
			background: url('https://static.licdn.com/scds/common/u/images/logos/linkedin/logo_in_nav_retina_88x72.png');
			background-size: cover no-repeat;
			background-size: 65px;
			background-repeat:no-repeat;
			margin-left: 0.5em;

			

			a{
				text-decoration: none;



			}
		}
	
		.search_box{
			float:right;
			width:30%;
			margin:1em;
			margin-top:1.75em;

			p{
				text-align:right;
				margin: .5em;
			}
		}
	}


	//-----------------------------------------END OF BANNER



	//------------------------------------------BEGGING OF NAVIGATION BAR

	.row{


		.col{

			.navbar{
				margin: 0 auto;
				box-sizing:border-box;
				


				ul{
					list-style:none;
					margin: 0 auto;
					padding: 0;
					overflow:auto;
					box-sizing:border-box;

					

					li{
						display: inline-block;
						width: 50%;
						float:left;
						


						

						h2{
							text-align: center;

							a{
								text-decoration: none;
								
								
							}
						}

					}


				}




			}	
		}
//-----------------------------------------END OF NAVIGATION BAR
//-----------------------------------------PEOPLE YOU MAY KNOW
		.people{
			clear:both;

			:nth-child(1){
				display: none;
			}
		h3{
			margin:1em;
		}	
		
		}

	}


	












}


@media (min-width: 500px){
  }

