---

---

<!--Version 1 of LinkedIn Dashboard Page-->

<!DOCTYPE html>
<html>

  <!--This include tag adds /_includes/head.html to every page that has layout: default in the front matter -->

  {% include head1.html %}

  <body>
    
    <!--This include tag adds /_includes/header.html to every page that has layout: default in the front matter -->
    {% include header.html %}

      <div class="wrapper">
        <!--Any content underneath the front matter in a page that has layout: default will be inserted here-->
        {{ content }}

        <!--TOP BANNER WITH LOGO AND SEARCH BAR-->
        
        <div class="banner">
          <h1><a href="#"></a></h1>
          <div class="search_box">
            <p>Search</p>
          </div>
        </div>

        <!--END OF TOP BANNER-->


        <!--NAV BAR BEGINNING-->
        <div class="row">
          <div class="col col-12">
            <div class="navbar">
              <ul>
                <li><h2><a href="#">Home</a></h2></li>
                <li><h2><a href="#">Profile</a></h2></li>
                <li><h2><a href="#">Find Connections</a></h2></li>
                <li><h2><a href="#">Interests</a></h2></li>
              </ul>
            </div>
          </div>
        </div>
        <!--END OF NAV BAR-->

        <!--BEGIN PEOPLE YOU MAY KNOW SECTION-->

        <div class="row">
          <div class="col col-12">
            <div class="people">
                  <div class="people_headings">
                  <h3>People You May Know</h3>
                  <h3><a href="#">Find Connections</a></h3>
                  <div>
                

                <div class="profiles1">
                  <div class="picture1"></div>
                  <p>Austin Bradshaw</p>
                  <p>Specialist at Carlisle & Gallagher Consulting Group, Inc</p>
                </div>

                <div class="profiles2">
                  <div class="picture2"></div>
                  <p>Allison Armstrong</p>
                  <p>Accounting Analyst at Vanguard Natural Resources, LLC</p>
                </div>
                
                <div class="profiles3">
                  <div class="picture3"></div>
                  <p>Torrey Pinkerton</p>
                  <p>Senior Loan Officer at Supreme Lending</p>
                </div>
            
                <div class="profiles4">
                  <div class="picture4"></div>
                  <p>Mallory Coon</p>
                  <p>Reporter at KPRC-TV of Abeline</p>
                </div>

                <div class="profiles5">
                  <div class="picture5"></div>
                  <p>Matthew Holloway</p>
                  <p>Legal Assistant at Galveston County District Attorney</p>
                </div>
             
                <div style="clear:both"></div>
              
            </div><!--End of Class=People Tag-->

          </div><!--End of Col 12 Tag-->
          
        </div><!--End Of Row Tag-->



        <!--BEGINNING OF THE NEWS FEED-->

        <div class="row">
          <div class="col col 8">
              <div class="newsfeed">

                <div class="news_header">
                  <h3>News Feed</h3>
                </div>

                <div class="news_block">
                  <h4><a href="#">Jenny Schroeder</a><h4> 
                  <h4><a href="#">Registered Representative at NYLIFE Securities LLC</a></h4>
                  <p>That’s right, New York Life does rollovers. Whether you are saving for retirement or ready for income, I would love to help.</p>
                </div>

                <div class="news_block">
                  <h4><a href="#">Allison Armstrong</a><h4> 
                  <h4>Accounting Analyst at<a href="#">Vanguard Natural Resources, LLC</a></h4>
                  <p>Has<a href="#">8</a>new connections. Find out <a href="#">People who you may know.</a></p>
                </div>

                <div class="news_block">
                  <h4><a href="#">Torrey Pinkerton</a><h4> 
                  <h4>Senior Loan Officer at <a href="#">Supreme Lending</a> shared:</h4>
                  <p>Looking for two things, processor that understands encompass and that can process 30 plus loans and also looking for a solid loan officer in New Mexico. Preferably my home town of Ruidoso . Inbox me if you know of anyone that can fulfill<a href="#">… show more</a></p>
                </div>

              </div><!--end of newsfeed tag-->
          </div><!--end of col tag-->
        </div><!--end of row tag-->




        <!--END PEOPLE YOU MAY KNOW SECTION-->


      </div><!--End of Wrapper Tag-->

    
    <!--This include tag adds /_includes/footer.html to every page that has layout: default in the front matter -->
    {% include footer.html %}

  </body>

</html>



















